.box1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
    background-color: #3498db;
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 2px;
  }
  
  /* p {
    margin: 0;
  } */
  .button-dlt {
    background-color:red;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin: 10px;
  }
  .button-dlt :hover{
    background-color: rgba(255, 0, 0, 0.945);
  }
  .button-upd {
    background-color:#4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin: 10px;
  }
  .btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .desc{
    background-color: #555555 ;
    color: #fff;
  }
  .box{
    background-color: #555555 ;
  }